body{
  font-family: 'Ubuntu', sans-serif;
  color:#333;
  background-color: #F4F4F4;
}
hr{
  height:0px;
  color: red;
}
.color-ash{color:#4D4F53;}
.color-green{color: #3BB874;}
.color-blue{color:#457BC0;}
.color-yellow{color:#FDE74C;}
.color-red{color:#EA2E49;}

header{
  margin: 0 0 20px 0;
  padding:250px 0px;
  min-height:100%;
  min-width: 100%; 
  background-color:#3BB874;
  background-size:cover;
  color:#fefefe;
}
.title{ 
  text-align: center;
}
.title img{
  width:100px;
  height:100px;
}
.title h1{
  font-size:48px;
  margin:10px 0px;
}
.title .subline{
  margin: 10px 0px;
  font-size:28px;
}

h2.heading{
  font-size:28px;
  font-weight:200;
}
/* Article */

article h*{
  font-weight: 300;  
}
article{
  font-size:16px;
  line-height:1.5;
  color:#333;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}
article b{
 font-weight: 500; 
}
article blockquote{
  padding-left: 20px;
  border-left: 4px solid #555;
  margin: 0px;
}
article blockquote p{
  padding:10px;
}
article pre{
  background-color: #fff;
  font-size: 80%;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
  border-radius: 4px;
}
article code {
  background-color: #fff;
  border-radius: 4px;
  padding: 2px 4px;
}

article a,
article a:hover,
article a:active{
  text-decoration:none;
  color:#457BC0;
  font-weight:bold;
}

article img{
  min-width:100%;
  width:100%;
  border-radius:4px;
}

.preview-thumb img{
  min-width:100%;
}
.preview-thumb{
  background-color:#3BB874;
  color:#FFF;
  text-align:center;
}
.preview-thumb p{ 
  font-size:22px;
  padding:30px 0px; 
}
article.preview{
  background-color:#FFF;
  padding:24px;
  margin-top:15px;
  border-left: 2px solid #ddd;
  -webkit-box-shadow: 0 4px 6px -6px #4D4F53;
  -moz-box-shadow: 0 4px 6px -6px #4D4F53;
  box-shadow: 0 4px 6px -6px #4D4F53;
}

article.preview .info{
  font-size:16px;
  margin:5px 0px;
}

article.preview .date,
article.preview .author{
  font-weight:500;
}
article.preview .title{
  text-align:left;
  margin:0px;
  color:#555;
  font-size:22px;
  font-weight:500;
  text-transform:capitalize;
}
article.preview .read-more a{
  font-weight:400;
  font-size:14px;
  padding:6px 8px;
  color:#FFF;
}
article.preview .read-more{
  margin: 0px;
}

/* Sidebar */
#sidebar nav{
  background-color:#FFF;
  margin-top:10px;
  padding:15px;
  -webkit-box-shadow: 0 4px 6px -6px #4D4F53;
  -moz-box-shadow: 0 4px 6px -6px #4D4F53;
  box-shadow: 0 4px 6px -6px #4D4F53;
}

#sidebar nav ul,
footer ul{
  padding: 0px;
  margin: 0px;
}

#sidebar nav ul li,
footer ul li{
  list-style: none;
  padding:4px 0px;
  text-transform:capitalize;
}
footer ul li a,
footer ul li a:focus,
footer ul li a:active,
#sidebar nav ul li a,
#sidebar nav ul li a:focus,
#sidebar nav ul li a:active{
  text-decoration: none;
}
#sidebar nav ul li a,
#sidebar nav ul li a:focus,
#sidebar nav ul li a:active{
  color:#457BC0;
}

footer ul li a,
footer ul li a:focus,
footer ul li a:active{
  color:#3BB874;
}
footer{
  background-color:#4D4F53;
  color:#f1f1f1;
  margin-top:15px;
}
footer p{
  line-height: 1.5;
}

footer .copyright{
  text-align: center;
}