---
layout: default
---

<header style="background-color: #{{ page.background }}; background-image: url('{{ site.baseurl }}/posts{{ page.url }}/{{ page.cover }}');">
	<div class="title">
		{% if page.thumbnail %}<img src="{{ site.baseurl }}/posts{{ page.url }}/{{ page.thumbnail}}"> {% endif %}
		<h1{% if page.color %} style="color: #{{ page.color }};"{% endif %}>{{ page.title }}</h1>
		<p class="subline">{{ page.description }}</p>
		<p>by <strong>{{ page.author }}</strong> &#8212; Posted in <strong>{{ page.categories }}</strong> on <strong>{{ page.date | date: '%B %d, %Y' }}</strong></p>
	</div>
</header>
<div class="container">

	<div class="row">
		<article class="col-sm-9 full">
			{{ page.content }}
			<section id="comments">
				<!-- Disqus -->
				{% include disqus.html %}
			</section>
		</article>

		<!-- Sidebar -->
		{% include sidebar.html %}
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div id="post-nav" class="clearfix">
				{% if page.previous.url %} 
				<a class="btn" href="{{page.previous.url}}"><span class="octicon octicon-chevron-left"></span> {{page.previous.title}}</a> 
				{% endif %} 
				{% if page.next.url %} 
				<a class="btn" href="{{page.next.url}}">{{page.next.title}} <span class="octicon octicon-chevron-right"></span></a> 
				{% endif %} 
			</div>
		</div>
	</div>
</div>